* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
max-width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.top-menu{

background-color;
display: flex;
font-family: Montserrat;
width: 100%;
padding-left: 100px;
}
.header{
width: 100%;
}
.language{
font-weight: 400;
}
.maistra-online1{
background-color:gainsboro;
width: 180px;
height: 55px;
text-align: center;
font-weight: 600;
margin-top: 15px;
}
.maistra-online2{
display:flex;
justify-content: center;
align-items: center;
width: 60px;
height: 55px;
background-color: rgb(182, 52, 52);
margin-top: 15px;
margin-right: 20px;
}
.tours-online1{
background-color:gainsboro;
width: 180px;
height: 55px;
text-align: center;
font-weight: 600;
margin-top: 15px;
}
.tours-online2{
display:flex;
justify-content: center;
align-items: center;
width: 60px;
height: 55px;
background-color: rgb(55, 233, 194);   
margin-top: 15px; 
}
.middle{
height: 50px;
width: 1px;
background-color: gray;
margin: 20px;
}
.long-line{
height: 1px;
width: 100%;
background-color: gray;
}
.menu{
font-family: Montserrat;
font-weight: 600;
display: flex;
justify-content: space-around;
padding-top: 20px;
}
.content{
background-size: cover;
background: center center no-repeat;
position: relative;
text-align: center;
color: white;
font-weight: 400;
font-family: Montserrat;
}

.foto
    {
    background:white,url="file:///C:/Users/1/Desktop/kfund/beach.jpg",center center no-repeat;
    opacity: 100%;
    max-width: 100%;
    width: 100%;
    height: 600px;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: none;
}
.evro300{
    position: absolute;
    bottom: 450px;
    left: 250px;
    border: solid white 2px;
    font-size:35px;
}
.new-hotel{
    position: absolute;
    bottom: 300px;
    left: 250px;
    font-size:35px;
    width: 37%;
    text-align: left;
}
.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 250px;
    height: 45px;
    max-height: 50px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    position: absolute;
    bottom: 200px;
    left: 250px;
    text-align:center;
  }
  .elipse{
    position: absolute;
    width: 7px;
    height: 7px;
    opacity: 0.6;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    bottom: 150px;
    left: 250px;
    justify-content: space-around;
  }
  .elipse2{
    position: absolute;
    width: 7px;
    height: 7px;
    opacity: 0.9;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    bottom: 150px;
    left: 270px;
    justify-content: space-around;
  }
  .elipse3{
    position: absolute;
    width: 7px;
    height: 7px;
    opacity: 0.6;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    bottom: 150px;
    left: 290px;
    justify-content: space-around;
  }.elipse4{
    position: absolute;
    width: 7px;
    height: 7px;
    opacity: 0.6;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    bottom: 150px;
    left: 310px;
    justify-content: space-around;
  }.elipse5{
    position: absolute;
    width: 7px;
    height: 7px;
    opacity: 0.6;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    bottom: 150px;
    left: 330px;
    justify-content: space-around;
  }
.navigation{
font-family: Montserrat;
width: 100%;
max-height: 1250px;
height: 360px;
background-color:rgb(230, 230, 230);
}
.tour{
position: relative;
text-align: left;
font-weight: 600;
font-size: 30px;
top: 100px;
left: 200px;
width: 40%;
}
.travel-world{
    position: relative;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    top: 135px;
    left: 200px;
    width: 40%;
    color: rgb(164, 164, 164)133, 133);
}
.offer{
left:200px;
border:solid 2px rgb(177, 177, 177);
background-color: rgb(177, 176, 176);
color:white;
width: 200px;
height: 35px;
position: absolute;
display: block;
box-sizing: border-box;
top: 1000px;
}
.consultation{
  left:430px;
  border:solid 2px rgb(177, 177, 177);
  background-color:white;
  color: rgb(177, 176, 176);
  font-weight: 600;
  width: 200px;
  height: 35px;
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 1000px;
}
.individual-service{
  left:950px;
  position: absolute;
  display: block;
  font-family: Montserrat;
  font-weight: 600;
  font-size:x-large;
}
.dashed-elipse{
  width: 45px;
  height: 45px;
  border: 1.2px dashed #000000;
  border-radius: 50%;
  box-sizing: border-box;
  left:900px;
  position: absolute;
  display: block;
}.house-service{
  left:950px;
  position: absolute;
  display: block;
  font-family: Montserrat;
  font-weight: 600;
  font-size:x-large;
  box-sizing: border-box;
  top: 900px;
}
.dashed-elipse2{
  left:900px;
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 900px;
}
.premium-rest{
  left:950px;
  position: absolute;
  display: block;
  font-family: Montserrat;
  font-weight: 600;
  font-size:x-large;
  box-sizing: border-box;
  top: 965px;
}
.dashed-elipse3{
  left:900px;
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 965px;
}
.best-hotels{
font-family: Montserrat;
width: 100%;
height: 300px;
max-height: 1250px;
padding-top: 50px;
display: inline-block;
}
.caption{
font-size:35px;
display: block;
position: absolute;
left: 200px;
}
.left-circle{
border: solid 1px black;
border-radius: 50%;
height: 40px;
width: 40px;
left: 600px;
position: absolute;
}
.left-arrow{
left: 7px;
top: 10px;
transform: rotate(-180deg);
position: absolute;}
.right-circle{
  border: solid 1px black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  left: 650px;
  position: absolute;
}
.right-arrow{
  left: 7px;
  top:7px;
  position: absolute;
}
.long-line{
border:solid 1px black;
width: 300px;
left:750px;
position: absolute;
top: 1160px;
}
.all-hotels{
  border:solid 2px rgb(177, 177, 177);
  background-color:white;
  color: rgb(177, 176, 176);
  font-weight: 600;
  width: 200px;
  height: 35px;
  position: absolute;
  display: block;
  left:350px;
  
}
.card-group{
display: flex;
justify-content: space-around;
max-width:1380px;
padding-right: 50px;
}
.img{
width: 750px;
height: 450px;
}
div#tekst_sverhu_kartinki {
position: relative;
}
.tekst_sverhu_kartinki{
position: absolute;
top: 50%;
left:155px;
text-transform: uppercase;
color: white;
width: 350px;
padding: 10px;
text-align: center;
font:Montserrat
}
.stars{
position: absolute;
left:300px;
bottom: 240px;
}
.img2{
width: 450px;
height: 450px;
  }
.div#tekst_sverhu_kartinki2{
position: relative; 
}
.tekst_sverhu_kartinki2{
position: absolute;
top: 55%;
left:55px;
text-transform: uppercase;
color: white;
width: 350px;
padding: 10px;
text-align: center;
font:Montserrat
}
.stars2{
position: absolute;
left: 160px;
bottom: 200px;
}
.img3{
  width: 450px;
  height: 450px;
  ;}
  .div#tekst_sverhu_kartinki3{
  position: relative; 
  }
  .tekst_sverhu_kartinki3{
  position: absolute;
  top: 55%;
  left:55px;
  text-transform: uppercase;
  color: white;
  width: 350px;
  padding: 10px;
  text-align: center;
  font:Montserrat
  }
  .stars3{
  position: absolute;
  left: 160px;
  bottom: 200px;
  }
.actual-tours{
display: flex;
position: absolute;
padding-top: 100px;

}
.long-line2{
  border:solid 0.5px black;
  width: 400px;
  position: absolute;
  left: 500px;
  top:20px;
}
.caption-tours{
text-transform: uppercase;
font-size: 35px;
font-family: Montserrat;
left:100px;
position: absolute;
width:500px;
}
.all-tours{
left: 1000px;
border:solid 2px rgb(177, 177, 177);
  background-color:white;
  color: rgb(177, 176, 176);
  font-weight: 600;
  width: 200px;
  height: 35px;
  position: absolute;
}
.card{
width: 450px;
height: 350px;
padding-right: 100px;
display:flex;

}
.card-deck{
display:flex;
font-family: Montserrat;
left: 100px;
position: relative;
}
.card-title{
font-size: 20px;
text-align:left;
width: 350px;
}
.card-text{
font-size: 15px;
text-align:left;
width: 350px;
padding-top: 40px;
}
.card-img-top{
width: 350px;
height: 300px;
}
.card-footer{
width: 350px;
}
.card-body{
background: rgb(238, 238, 238);
width: 350px;
height: 200px;
}
.text-muted{
display:flex;
color: rgb(159, 41, 41);
padding-top: 20px;
width: 200px;
}
.description{
font-size: 10px;
color: rgb(120, 120, 120);
}
.date{
width: 20px;
text-align: right;
font-size: 10px;
color: rgb(169, 169, 169);
}





